name: Selenium Tests

on:
  push:
    branches:
      - main

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2

      - name: Configurar ambiente Java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: "adopt"

      - name: Instalar o Maven
        run: |
          sudo apt-get update
          sudo apt-get install maven

      - name: Instalar o ChromeDriver
        run: |
          LATEST=$(wget -q -O - http://chromedriver.storage.googleapis.com/LATEST_RELEASE)
          wget http://chromedriver.storage.googleapis.com/$LATEST/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/local/bin
          rm chromedriver_linux64.zip

      - name: Instalar as dependências do Maven
        run: mvn clean install -DskipTests

      - name: Executar os Testes Selenium
        run: mvn test